/* --------------------------------------------- */
/* Header component                              */
/* --------------------------------------------- */
.right-aligned {
  flex-grow: 0 !important
}

.nav-item {
  text-decoration: none;
  color: rgb(89,110,15,1);
  margin-right: 1rem;
  padding-top: 0.5rem;
  font-weight: 700;
}

/* --------------------------------------------- */
/* Footer component                              */
/* --------------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 1rem;
  padding-bottom: 2rem;
  position: absolute;
  left: 0;
  width: 100%
}

.footer-text {
  margin: 0;
  padding: 0;
}


.main-row {
  min-height: calc(100vh - 196px);
}

/* --------------------------------------------- */
/* CreateForm component                          */
/* --------------------------------------------- */
.formular {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid #fbfbfb;
  border-radius: 10px;
  background-color:  rgb(147, 173, 24, 0.8);
  min-width: 330px;
  max-width: 527px;
  justify-self:center;
}

.sub-form-container {
  margin: 0.5rem 0;
  border: 1px solid #fbfbfb;
  border-radius: 10px;
  background-color:  rgb(147, 173, 24, 0.8);
}

.form-container {
  display: grid;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.form-title {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

/* --------------------------------------------- */
/* Populate component                            */
/* --------------------------------------------- */
.populateBtn {
	width: 50px;
	height: 30px;
	padding: 0;
	background-color: #515e13;
	border: none;
	border-radius: 0 5px 5px 0;
	color: white;
	font-weight: 600;
	border-radius: 5px;
}

.populateBtn.hidden {
  display: none;
}
/* --------------------------------------------- */
/* Miscellaneous                                 */
/* --------------------------------------------- */
.small-size {
  height: 80px;
  width: 80px;
}

.bg-color-custom {
/*  background-color: rgb(94, 115, 14, 0.8);*/
/* background-color: #A4B95B;*/
background-color:#96AB49;
}